<style>
  h5 {
    margin-bottom: 3px;
  }

  form,
  .data {
    width: 50%;
    padding: 32px;
    border: 1px solid;
  }
  .selectors {
    display: flex;
    gap: 16px;
  }
  .separator {
    margin-bottom: 8px;
  }
  .toolbar {
    display: flex;
    gap: 16px;
  }
</style>

<div class="toolbar" role="banner">
  <form>
    <div class="separator">
      <h5>Pais origem</h5>
      <select (change)="onChangeOriginCountry($event)">
        <option [value]="undefined">Selecione o pais de origem</option>
        <option *ngFor="let country of countries" [value]="toStr(country)">
          {{ country?.country }}
        </option>
      </select>
    </div>

    <div class="separator">
      <h5>Cidade origem</h5>
      <select
        [disabled]="!selectedOriginCountry"
        (change)="onChangeOriginCity($event)"
      >
        <option [value]="undefined">Selecione a cidade de origem</option>
        <option
          *ngFor="let cities of selectedOriginCountry?.cities"
          [value]="toStr(cities)"
        >
          {{ cities?.city }}
        </option>
      </select>
    </div>

    <div class="separator">
      <h5>Pais destino</h5>
      <select (change)="onChangeDestinyCountry($event)">
        <option [value]="undefined">Selecione o pais de destino</option>
        <option *ngFor="let country of countries" [value]="toStr(country)">
          {{ country?.country }}
        </option>
      </select>
    </div>

    <div class="separator">
      <h5>Cidade destino</h5>
      <select
        [disabled]="!selectedDestinyCountry"
        (change)="onChangeDestinyCity($event)"
      >
        <option [value]="undefined">Selecione o cidade de destino</option>
        <option
          *ngFor="let cities of selectedDestinyCountry?.cities"
          [value]="toStr(cities)"
        >
          {{ cities?.city }}
        </option>
      </select>
    </div>

    <div class="separator selectors">
      <div>
        <p>Adultos</p>
        <button type="button" (click)="subtractAdult()">-</button>
        {{ adults }}
        <button (click)="addAdult()">+</button>
      </div>
      <div>
        <p>Crianças</p>
        <button (click)="subtractKid()">-</button>
        {{ kids }}
        <button (click)="addKid()">+</button>
      </div>
    </div>

    <div class="separator selectors" style="margin-top: 32px;">
      <input
        name="options"
        type="radio"
        [(ngModel)]="economic"
        [value]="true"
        [checked]="economic"
      /> Economica <br />
      <input
        name="options"
        type="radio"
        [(ngModel)]="economic"
        [value]="false"
        [checked]="!economic"
      /> Executiva <br />
    </div>

    <div>
      <p>Utilizar {{miles}} milhas:</p>
      <input type="range" #ref (change)="changeMiles(ref.value)" max="10000"/>
    </div>
  </form>

  <div class="data">
    <p>
      Origem: {{ selectedOriginCountry?.country }} ({{
        selectedOriginCity?.city
      }})
    </p>
    <p>
      Destino: {{ selectedDestinyCountry?.country }} ({{
        selectedDestinyCity?.city
      }})
    </p>
    <p>Distancia: {{ getDistance() }} km</p>
    <p>{{ adults }} adulto(s), {{ kids }} criança(s)</p>
    <p> Tipo de vôo: Classe {{ economic ? 'Economica': 'Executiva' }} </p>
    <p>{{getValues(false) | currency : 'R$' }} por adulto </p>
    <p>{{getValues(true) | currency : 'R$' }} por criança </p>
    <p>Milhas: {{ miles }} </p>
    <p>Valor abatido por milhas: {{ miles * 0.02 | currency : 'R$'}} </p>
    <p>Valor total: {{getTotalValue() | currency : 'R$' }}</p>
  </div>
</div>

<router-outlet></router-outlet>
